<h1>Recipes</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.product.name %></td>
          <td><%= link_to 'Show', recipe %></td>
          <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
          <td><%= link_to 'Destroy', recipe, method: :delete, id: "delete_recipe_#{recipe.id}_from_index", data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New recipe', new_recipe_path, class: "btn btn-lg btn-info", id: "new_recipe_btn" %>
