<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ingredient.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ingredient.amount_type %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @ingredient.min_amount %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
