<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_field :ingredients, id: :product_ingredient1 %>
  </div>

  <div class="field">
    <%= form.label :ingredients_amount_per_recipe %>
    <%= form.text_field :ingredients_amount_per_recipe, id: :product_ingredient1_amount_per_recipe %>
  </div>

  <div class="field">
    <%= form.label :amount_type %>
    <%= form.select :amount_type, ['grams', 'kilos', 'tablespoons', 'teaspoons', 'liters', 'milliliters'], {include_blank: ''}, id: :product_ingredient1_amount_type %>
  </div>

  <div class="field">
    <%= form.label :ingredients_cost_per_unit %>
    <%= form.text_field :ingredients_cost_per_unit, id: :product_ingredient1_cost_per_unit %>
  </div>

  <div class="field">
    <%= form.label :unit_type %>
    <%= form.select :unit_type, ['kilos', 'liters', 'units'], {include_blank: ''}, id: :product_ingredient1_unit_type %>
  </div>

  <div class="field">
    <%= form.label :min_amount %>
    <%= form.text_field :min_amount, id: :product_ingredient1_min_amount %>
  </div>

  <div class="field">
    <%= form.label :product_price %>
    <%= form.text_field :product_price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :product_cost %>
    <%= form.text_field :product_cost, id: :product_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
